/*CSS para la sección de la página percepcion*/

body pre {
    font-family: Arial;
}

body li {
    margin-top: 7px;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.responsiveImg {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/*Zona de querys*/
@media screen and (max-width: 600px) {
    .contenidoPercepcion {
        margin: 0;
    }

    .responsiveImg {
        width: 90%;
        height: auto;
    }
}